<!-----py padding top & buttom--(-mt margin/top-auto -footer go down)--->
<footer class="footer nav-color py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy;2022<a class="AH-addhouse ml-2" href="/houses/new">AH</a></span>
        <!----add houses-Uploud-AH------->
        <span class="text-muted">By: Eazel DonF1</span>



        <span class="text-muted footer-1 px-1"><a href="/houses">
                <blod>Houses</blod>
            </a></span>
        <span class="text-muted footer-1 px-1"><a href="/about">
                <blod>About</blod>
            </a></span>
        <span class="text-muted footer-1 px-1"><a href="/">
                <blod>Home Page</blod>
            </a></span>
        <a class="ml-2" href="#">twitter</a>
        <a class="ml-2" href="#">linkedin</a>



    </div>

</footer>