<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/Other.css">


<div class="container">

    <div class="row">
        <div class="col-md-6 about-site mt-5 py-5">

            <h2 class="mt-4">About the site</h2>

            <!---------------->
            <!------POP-->
            <!-- Trigger/Open The Modal -->
            <button id="myBtn" class="info-pop">READ MORE</button>


            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <blod>My Demo site</blod>
                    </div>
                    <div class="modal-body">

                        <p class="p-1">

                            <blod></blod>
                        </p>

                        <p class="p-1 text-center">
                            <strong>User Story</strong>
                        </p>

                        <p class="p-1">As a site owner, I want to showcase and market my business, so that
                            visitors get an idea of what they can expect from a visit to my "Dream House".

                            As a visitor, I want to see pictures of the houses and locations as well as get
                            information
                            about what is offered, to help me decide if I want to buy.

                            This project assumes the visitor is mainly using a laptop or
                            smartphone. </p>

                        <p class="p-1 text-center">
                            <strong>Concept</strong>
                        </p>

                        <p class="p-1 text-center">
                            Luxury Real Estate marketing site
                        </p>


                        <p class="p-1 text-center">
                            <strong>Code used</strong>
                        </p>
                        <p class="p-1 text-center">
                            HTML, CSS, JAVASCRIPTS, NODE.JS

                        </p>

                        <p class="p-1 text-center">
                            <strong>Acknowledgement</strong>
                        </p>


                        <p class="p-1 text-center">
                            I used google to search for house images, API Mapbox, Cloudinary storage, Mongo, Express, Deploy to render and some bootstrap functionality. Graphic designs and photo editing is done by Eazel Don Frantzich.
                        </p>



                    </div>
                    <div class="modal-footer">
                        <p class="p-1 about-site">Thank you for your time</p>
                    </div>

                </div>
            </div>
        </div>

        <section>
            <div class="row">
                <div class="col-12 text-white text-center lead mt-4">
                    <h2>Dream House</h2>
                    <p>
                        Dream Houses was established in 2015 in New Milford, NJ with the intent to help our
                        customers
                        find their
                        dream houses in the lovely Garden State.

                        Since the start Dream House has grown from being a small side business run out of a garage
                        in
                        New
                        Milford to the Premier High End home agent in the state.


                    </p>
                    <p>
                        With our core focus on customer satisfaction and fairness for all involved parties we have
                        also
                        taken
                        “Giving back to the community” to our heart and have started a foundation that helps build
                        and
                        maintain
                        housing for the less fortunate in our great state.

                    </p>


                </div>

            </div>
        </section>
        <!-----------------------jun------------------>
        <mian>
            <section class="about flex-columns">
                <div class="row">
                    <div class="column">
                        <div class="column-1">
                            <img src="/img/photo34.jpg" alt="">

                        </div>

                    </div>
                    <!----->
                    <div class="column">
                        <div class="column-2 bg-color">


                            <h2><img src="/img/jun2.jpg" style="width:90px; height:80px;  border-radius: 50%;">
                                Jun</h2>
                            

                            <p>
                                <a href="#">jun2@dmhouse.com</a><br>
                                Real state agent for 4 year,
                                A Manhattan financial adviser turned Real Estate agent helped co-found Dream House.
                                Jun is a New Milford native with deep roots in the community and is the point man on
                                Dream
                                House’s

                            </p>
                            <p>
                                “Giving back to the community” efforts.
                            </p>

                            <a href="/houses/" class="btn btn-outline">Read More</a>
                        </div>

                    </div>

                </div>

            </section>
            <!---------Review------Ann---->

            <section class="review flex-columns">
                <div class="row">
                    <!------>
                    <div class="column">
                        <div class="column-2 bg-color-2">
                            <h2> <img src="/img/ann3.jpg" style="width:90px; height:80px; border-radius: 50%;">

                                Ann</h2>
                            <p>
                                <a href="#">ann@dmhouse.com</a> <br>
                                Real state agent for 2 year,
                                Joined Dream House in 2018 and has quickly become a key driving force in developing the
                                business
                                across the
                                state.

                                Ann made a career shift from management in customer services for a large Fortune 500
                                company.

                            </p>
                            <p>
                                Ann is also heavily involved in expanding Dream House’s “Giving back to the community”
                                efforts.


                            </p>

                            <a href="/houses/" class="btn btn-outline">Read More</a>
                        </div>

                    </div>
                    <!---- -->
                    <div class="column">
                        <div class="column-1 column-1-img">
                            <img src="/img/computer.jpg" alt="">

                        </div>

                    </div>

                </div>
                <!---------------------->

            </section>

            <!---------maggie----------->
            <section class="about flex-columns">
                <div class="row">
                    <div class="column">
                        <div class="column-1">
                            <img src="/img/contract2.jpg" alt="">

                        </div>

                    </div>
                    <!----->
                    <!----->
                    <div class="column">
                        <div class="column-2 bg-color">


                            <h2> <img src="/img/maggie2.jpg" style="width:90px; height:80px; border-radius: 50%;">

                                Maggie</h2>

                            <p>
                                <a href="#">magie@dmhouse.com</a> <br>
                                Owner of the campany,
                                A serial entrepreneur Maggie co-founded Dream House with Jun.
                                <br>Maggie is a star i setting up an developing
                                businesses and is in charge of business development and exploring new opportunities for
                                the business as well as partnerships and collaborations.


                            </p>
                            <p>
                                Maggie owns a number of small and medium size businesses in the Tri-state area.
                            </p>


                            <!--------<a href="#" class="btn btn-outline">read</a>----->
                        </div>

                    </div>

                </div>

            </section>
            <!--------------->

            <section class="review flex-columns">
                <div class="row">
                    <!------>
                    <div class="column">
                        <div class="column-2 bg-color-2">
                            <h2><img src="/img/eric3.jpg" style="width:90px; height:80px; border-radius: 50%;">

                                Eric</h2>

                            <p>
                                <a href="#">eric@dmhouse.com</a> <br>
                                Owner of a construction company,
                                Eric has joined Dream House as a co-owner back in 2018.

                                Eric also runs a successful construction company and is in charge of all updates that
                                Dream House make to properties prior to reselling them, including staging the
                                properties.


                            </p>
                            <p>
                                Through Eric’s construction company Dream House’s customers are offered various bespoke
                                restoration and renovation services when they buy a property from Dream House.

                                Eric’s wife Janet also joined Dream House in 2019 and offers interior decoration
                                services to our
                                customers.



                            </p>


                            <!---  <a href="#" class="btn btn-outline">read</a>--->
                        </div>

                    </div>
                    <!---- -->
                    <!---- -->
                    <div class="column">
                        <div class="column-1 column-1-img">
                            <img src="/img/building.jpg" alt="">

                        </div>

                    </div>

                </div>
                <!---------------------->

            </section>

        </mian>





        <!----------------->
        <!----<div class="container">

            <div class="row">

                <div class="col-md-6 text-white text-center lead mt-4">
                    <h2>Dream House</h2>
                    <p>
                        Dream Houses was established in 2015 in New Milford, NJ with the intent to help our
                        customers
                        find their
                        dream houses in the lovely Garden State.

                        Since the start Dream House has grown from being a small side business run out of a garage
                        in
                        New
                        Milford to the Premier High End home agent in the state.


                    </p>
                    <p>
                        With our core focus on customer satisfaction and fairness for all involved parties we have
                        also
                        taken
                        “Giving back to the community” to our heart and have started a foundation that helps build
                        and
                        maintain
                        housing for the less fortunate in our great state.

                    </p>
                    We are proud to progress and look forward to continuing to serve our customers and our
                    community.


                    <p>

                    </p>

                </div>

            </div>---->

        <!-------->
        <!-----   <div class="row">
                <div class="col-md-6 text-white lead mt-4">

                    <h3><img src="/img/jun2.jpg" style="width:260px; height:200px;"><a class="px-4"
                            href="/houses/">Jun</a>
                    </h3>
                    <p>
                        Real state agent for 4 year, Email:jun2@dmhouse.com<br>
                        A Manhattan financial adviser turned Real Estate agent helped co-found Dream House.
                        Jun is a New Milford native with deep roots in the community and is the point man on Dream
                        House’s



                    </p>
                    <p>
                        “Giving back to the community” efforts.
                    </p>


                </div>

            </div>--->
        <!------->

        <!-----   </div>
        <div class="row">
            <div class="col-md-6 text-white lead mt-4">
                <h3><img src="/img/ann3.jpg" style="width:250px; height:230px;"><a class="px-4" href="/houses/">Ann</a>
                </h3>
                <p>
                    Real state agent for 2 year, Email:ann@dmhouse.com <br>
                    Joined Dream House in 2018 and has quickly become a key driving force in developing the business
                    across the
                    state.

                    Ann made a career shift from management in customer services for a large Fortune 500 company.

                </p>
                <p>
                    Ann is also heavily involved in expanding Dream House’s “Giving back to the community” efforts.


                </p>


            </div>
        </div>--->
        <!------->
        <!----  <div class="row">
            <div class="col-md-6 text-white lead mt-4">
                <h3><img src="/img/maggie2.jpg" style="width:250px; height:200px;"><a class="px-4" href="#">Maggie</a>
                </h3>
                <p>
                    Owner of the campany, Email:maggie@dmhouse.com <br>
                    A serial entrepreneur Maggie co-founded Dream House with Jun.Maggie is a star in setting up and
                    developing
                    businesses and is in charge of business development and exploring new opportunities for the
                    business
                    as well
                    as partnerships and collaborations.


                </p>
                <p>
                    Maggie owns a number of small and medium size businesses in the Tri-state area.
                </p>
            </div>

        </div>-->
        <!---end---->
        <!----- </div>-->

        <!------->

        <!----  <div class="row">
        <div class="col-md-6 text-white lead mt-4">

            <h3><img src="/img/eric3.jpg" style="width:260px; height:220px;"><a class="px-4" href="#">Eric</a>
            </h3>
            <p>
                Owner of a construction company, Email:eric@dmhouse.com <br>
                Eric has joined Dream House as a co-owner back in 2018.

                Eric also runs a successful construction company and is in charge of all updates that Dream
                House
                make
                to
                properties prior to reselling them, including staging the properties.


            </p>
           <p> 
               Through Eric’s construction company Dream House’s customers are offered various bespoke restoration
            and
            renovation services when they buy a property from Dream House.

            Eric’s wife Janet also joined Dream House in 2019 and offers interior decoration services to our
            customers.

          

            </p>
        </div>
    </div>
    </section>--->
        <script src="/javascripts/home.js"></script>