<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/main.css">



<!--<h1>Register</h1>-->



<!--<form action="/register" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">Register</button>
</form>---------->

<!--------New form-------->
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <!----offset-md-3 col-xl-4 offset-xl-4">-->
        <div class="col-md-4 offset-md-2 mt-4 mb-2 py-5">
            <div class="card shadow">
                <!------>

                <img src="/img/beach14.jpg" alt="Beach14" class="card-img-top" />

                <h5 class="text-center">Example only</h5>
                <p class="text-center">Don't put your real Email</p>


                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required
                                placeholder="name@example.com">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password"
                                placeholder="3 or 5 character" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Register</button>
                    </form>

                </div>
            </div>
        </div>
        <!----------->
        <div class="col-md-6 py-5">
            <dv class="mb-3 text-white">
                <h3 class="text-white mt-4">How are we doing?</h3>
                <p class="lead">Please register to leave a review in the show houses</p>
                <p><img src=/img/star.jpg style="width:326px; height:230px;"></p>
        </div>
    </div>
    <!------------>

</div>

</div>